<mat-toolbar color="primary">
  <span class="mat-button">Randomizer <small>beta</small></span>
  <!--span class="mat-button">Randomizer</span-->
</mat-toolbar>

<main>
  <form (keydown.enter)="onAddItems($event.target.value)" action="#">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>New item/s:</mat-label>
        <textarea matInput autocomplete placeholder="Item1, Item2, ..." [(ngModel)]="itemsField" [ngModelOptions]="{standalone: true}"></textarea>
        <mat-hint>Use comma to separate the different elements. Press enter or push the plus button to add the item/s.
        </mat-hint>
      </mat-form-field>
    </p>

    <button type="button" mat-raised-button color="accent" (click)="onAddItems(null)">
      <mat-icon aria-hidden="false" aria-label="Plus button">add</mat-icon> Add item/s
    </button>
  </form>

  <section *ngIf="items.size > 0">
    <h3>Item list:</h3>
    <ul>
      <li (click)="onRemoveItem(item)" *ngFor="let item of items"><mat-icon aria-hidden="false" aria-label="Remove item">clear</mat-icon><!--mat-icon aria-hidden="false" aria-label="Edit item">edit</mat-icon--><span>{{item | capitalize}}</span></li>
    </ul>
  </section>

  <section *ngIf="selected">
    <h3>The selected item is:</h3>
    <em>{{selected | capitalize}}</em>
  </section>

  <div class="txt-center">
    <button type="button" mat-button color="primary" (click)="onSelectRandomItem()">Get random element</button>
  </div>
</main>
